@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Noto Sans Thai', sans-serif;
}

.button-active{
  background-color: rgba(208, 83, 2, 0.9);
}

.button-active:hover{
  background-color: rgba(208, 83, 2, 0.9) !important;
}

.disabled-link{
  pointer-events: none !important;
  background-color: gray !important;
}